body {
    color: white;
    background-color: #001f3f;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {

    width: 500px;
    height: 100px;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

}